.stars {
    width: 105%;
    height: 60px;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    bottom: 0;
    font-size: 18px;
}

@media screen and (max-width: 720px) {
    .stars {
      right: 30px;
    }
}
