.root {
  width: 1010px;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
}

.app {
  width: 1000px;
  margin: 0 auto;
}

.movies {
  padding-bottom: 50px;
  padding-left: 0;
  margin: 0 auto;
  padding-top: 20px;
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(2, 48.13%);
}

.movies__card {
  display: grid;
  grid-template-columns: 183px auto;
  list-style-type: none;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  position: relative;
}

.movies__img {
  width: 181px;
  display: inline-block;
  text-align: center;
  align-self: center;
}

.movies__description {
  padding: 12px 20px;
  padding-bottom: 0;
  align-self: flex-start;

  display: flex;
  height: calc(100% - 12px);
  flex-wrap: wrap;
  flex-direction: column;
}

.movies__name {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  max-height: min-content;
  width: 195px;
}

.movies__date {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #827E7E;
  margin: 7px 0;
}

.movies__jenres {
  margin: 0;
}

.movies__jenre {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  width: 44px;
  text-align: center;
  height: 18px;
  vertical-align: middle;
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.65);
  background: #FAFAFA;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
}

.movies__intro {
  padding-top: 10px;
  font-size: 12px;
  line-height: 22px;
  /* height: calc(100% - 170px); */
  margin: 0;
  flex-grow: 1;
}

.movies__rate {
  /* display: inline-block; */
  margin: 0;
  width: 30px;
  height: 30px;
  right: 0;
  border: 2px solid #E9D100;
  border-radius: 50%;
  position: absolute;
  margin-right: 9px;
  font-size: 12px;
  line-height: 22px;
  font-family: 'Inter';
  font-style: normal;
  text-align: center;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.spin {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.search-input {
  margin-top: 15px;
  height: 40px;
  width: 1010px;
}

.cat-description {
  display: flex;
  flex-direction: row;
  align-items: center;
}